@using NewsletterAppMVC.ViewModels
@model List<SignupVm>
<!--//we'll be taking all our signups and displaying them as a list so the admin can view it: hence it'll be a list of model objects, each object representing a row in table-->

<div class="row no-gutters m-3">
    <div class="card col-sm-12 col-md-10 col-lg-6 mx-auto shadow">
        <div class="card-header text-center">
            <h5 class="m-0">Sign-ups</h5>
        </div>
        <div class="card-body">
            <!--we've assigned variable signup to each individual element of the list we're looping through (list of Database objects aka table row)-->
            @foreach (var signup in Model)
            {
                <div class="row">
                    <div class="col">
                        @signup.FirstName
                    </div>
                    <div class="col">
                        @signup.LastName

                    </div>
                    <div class="col">
                        @signup.EmailAddress

                    </div>
                </div>
            }


        </div>
    </div>
</div>

<!--We've created out logic--our front-end framework--for our admin page. It is ready to accept Models from our NewsletterSignUp'-->